.btn {
  @apply w-full p-3 text-white transition-colors flex justify-center items-center;
  border-radius: 0.375rem;
  background-color: var(--color-rebecca-purple);
  &:hover {
    background-color: var(--color-deep-violet);
  }
}

.btn-secondary {
  @apply w-full p-3 text-white transition-colors flex justify-center items-center; 
  border-radius: 0.375rem;
  background-color: var(--color-rebecca-purple);
  &:hover {
    background-color: darken(var(--color-rebecca-purple), 10%);
  }
}
